*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fcfcfc;
    width: 100%;
    margin: 0 auto;
}

.container button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #020202;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px; 
    margin-top: 10px;
}

#quote{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
    color: red;
}

#last-updated{
    font-size: 14px;
    color: gray;
    margin-bottom: 12px;
}

.quote-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
    margin-left: 20px;
    margin-right: 20px;
}

#textbox-label{
    color: rgb(0, 0, 0);
    font-size: 14px;
    margin-bottom: 16px;
    font-weight: 500;
    color: rgb(51, 51, 51);
}

#text-box{
    width: 400px;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    margin: 0px 30px 0px 30px;
}

.text-box-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 30px 0px 30px;
}